{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1>{{ post.title }}</h1>
    <small>{{ post.category }} • {{ post.posted.strftime('%d.%m.%Y %H:%M') }}</small>
    <hr>
    <p>{{ post.content|safe }}</p>
    <a href="{{ url_for('posts.index') }}" class="btn btn-secondary">Назад</a>
    <a href="{{ url_for('posts.update', id=post.id) }}" class="btn btn-warning">Редагувати</a>   
<form action="{{ url_for('posts.delete', id=post.id) }}" method="POST" style="display:inline;">
    <button type="submit" class="btn btn-danger btn-sm"
            onclick="return confirm('Дійсно видалити пост?')">Видалити</button>
</form>
</div>
{% endblock %}